# secrets
.env
*.token

# data
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
db/*.db

# logs
*.log

# python
__pycache__/
*.pyc
.venv/
venv/

# notebooks
.ipynb_checkpoints/

# os
.DS_Store
